.title{
  width: 320px;
  position: absolute;
  top: 30px;
  right: 60px;
  margin: 40px;
  h2{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1px;
  }
  p{
    color: #555;
  }
}