.svg-wrapper-c_to_s{
  position: absolute;
  top: 232px;
  left: 400px;
}

.svg-wrapper-s_to_a{
  position: absolute;
  top: 232px;
  left: 440px;
}

.svg-wrapper-c_to_a{
  position: absolute;
  top: 410px;
  left: 273px;
}

.svg-wrapper-a_to_r{
  position: absolute;
  top: 410px;
  left: 482px;
}

.svg-wrapper-r_to_s{
  position: absolute;
  top: 410px;
  left: 692px;
}

.svg-wrapper-s_to_c{
  position: absolute;
  top: 514px;
  left: 170px;
}